* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
